;шаблон файла настроек settings.ini

[WORKSPACE]
main_dir = <полный путь к директории проекта>
log_dir_name = <полный путь к директории проекта>\logs
pdf_dir = <полный путь к директории проекта>\data\pdf

[DB_CONNECT]
db_path = <полный путь к директории проекта>\db\receipts.db

[TOOL]
is_debug = 0
is_logging = 1
