;шаблон файла настроек settings.ini

[WORKSPACE]
main_dir=D:\PyProjects\project
log_dir_name=D:\PyProjects\project\logs

[DB_CONNECT]
is_use_dir = 1
connection_dir = connections
connection_name =
schema_name =

[TOOL]
is_debug = 1
is_logging = 1

[ELEMENTS]
_fc = fc
_tbl = tbl
